<template>
    <div :class="alertClasses" v-show="show">
        <slot></slot>
        <span class="Alert__close" @click="show=false">x</span>
    </div>    
</template>
<style lang="scss">
    .Alert{
        position: relative;
        &.alert-success{
            background-color:#388e3c !important;
            border-color:#43a047 !important;
        }
        &.alert-danger{
            background-color:#d32f2f !important;
            border-color:#e53935 !important;
        }
        &.alert-info{
            background-color:#0288d1 !important;
            border-color:#039be5 !important;
        }
        &.alert-warning{
            background-color:#ff8f00 !important;
            border-color:#ffa000 !important;
        }
    }
    .Alert__close{
        position: absolute;
        top:1em;
        right: 1em;
        font-weight: bold;
        cursor:pointer;
    }
</style>
<script>
    export default {
        props:['type'],
        data(){
            return {
                show:true
            };
        },
        mounted() {
            console.log('Component ready.')
        },
        computed:{
           alertClasses(){
                var  type= this.type;
                return {
                    'Alert':true,
                    'alert':true,
                    'alert-success': type=='success',
                    'alert-danger': type=='error',
                    'alert-info': type=='info',
                    'alert-warning': type=='warning',
                }
           } 
        }
    }
</script>
