<template>
    <div class="img-input">
        <img :src="imgsrc" class="img-responsive img-rounded">
        <input @change="onFileChange" id="pic" type="file" class="form-control" name="pic" value="" readonly>
    </div>
</template>
<style lang='scss'>
    $input-box-size:200px;
    $admin-edit-profile-bc:#424242;
    .img-input{
        position: relative;
        height: $input-box-size;
        width: $input-box-size;
        img{
            position: absolute;
            width: $input-box-size;
            height: auto;
            display:block;
            z-index: 0;
            border:1px solid $admin-edit-profile-bc;
        }
        input[type='file']{
            position: absolute;
            width: $input-box-size;
            height: $input-box-size;
            opacity: 0;
            z-index: 2;
        }
    }

</style>
<script>
    export default {
        props:['imgsrc'],
        mounted() {
            console.log('Component ready.')
        },
        methods:{
            onFileChange(e) {
              var files = e.target.files || e.dataTransfer.files;
              if (!files.length)
                return;
              this.createImage(files[0]);
            },
            createImage(file) {
              var image = new Image();
              var reader = new FileReader();
              var vm = this;

              reader.onload = (e) => {
                this.imgsrc = e.target.result;
              };
              reader.readAsDataURL(file);
            }
        }
    }
</script>
