<template>
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <li>
          <a href="javascript:void(0);" aria-label="Previous" @click="prevPage()">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li v-for="n in pagination.total_pages" 
            :class="{'active':pagination.current_page==n}">
            <a href="javascript:void(0);" @click="getPage(n)">{{ n }}</a>
        </li>
        <li>
          <a href="javascript:void(0);" aria-label="Next" @click="nextPage()">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
</template>

<script>
    export default {
    	props:{
    		uri:String,
        	pagination:Object
    	},
        mounted() {
            console.log('Component ready.')
        },
        data(){
        	retrun {};
        },
        // Pagination scoping
        getPage(page){
            let uri=`/api/apicategory?page=${page}`;
            this.$http.get(uri).then((response)=>{
                let res= response.data;
                if(res.status_code==200){
                    this.categories           =res.data;
                    this.pagination =res.paginator;
                }
            })
            .catch((error)=>{console.log(error)});
        },
        nextPage(){
            let pagination=this.pagination;
            if(pagination.current_page < pagination.total_pages){
                let reqPage=pagination.current_page+1;
                this.getPage(reqPage);
            }
        },

        prevPage(){
            let pagination=this.pagination;
            if(pagination.current_page > 1){
                let reqPage=pagination.current_page - 1;
                this.getPage(reqPage);
            }
        }
    }
</script>
