<template>
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <div class="box-title">
            
          </div>
          <div class="box-tools-search">
            <form class="form-inline" @submit.prevent="searchInput">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
                  <input type="text" v-model="searchQuery" class="form-control" id="exampleInputAmount" placeholder="Search" @keyup.delete="searchChanges">
                </div>
              </div>
            </form>
          </div>
        </div>
          <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-bordered" id="apicategory-table">
            <thead class="thead-inverse">
              <tr>
                <th v-for="(cols,index) in gridColumns" @click="sortBy(cols)">
                  {{ cols | capitalize }} 
                  <span class="arrow" 
                    :class="sortOrder.field == cols ? sortOrder.order : 'asc'"
                    v-if="escapeSort.indexOf(cols) < 0"></span>
                </th>
              </tr>
            </thead>
            <tbody  v-if="componentData.length">
                <tr v-for="runningData in componentData">
                  <!-- <th scope="row" v-text="runningData.id"></th> -->
                  <td v-text="runningData.title"></td>
                  <td v-text="runningData.description"></td>
                  <td>
                    <div class="btn-group" role="group" aria-label="...">
                       <button type="button" class="btn btn-default" @click="show(runningData)">Edit</button>
                       <button type="button" class="btn btn-default" @click="remove(runningData)">Delete</button>
                    </div>
                  </td>
                </tr>
            </tbody>
            <h4  v-else>
              No APis avaialble!
            </h4>
          </table>
        </div>
        <div class="box-footer clearfix">
          <ul class="pagination pagination-sm no-margin pull-right">
            <li v-show='pagination.total_pages > 0 && pagination.current_page != 1'>
              <a href="javascript:void(0);" aria-label="Previous" @click="all(1)">
                <span aria-hidden="true">&laquo;&laquo;</span>
              </a>
            </li>
            <li>
              <a href="javascript:void(0);" aria-label="Previous" @click="prevPage()"><span aria-hidden="true">&laquo;</span></a>
            </li>
            <li v-for="n in pagination.total_pages" 
              :class="{'active':pagination.current_page==n}" 
              v-show="n >= pagination.current_page && n <= paginationList">
              <a href="javascript:void(0);" @click="all(n)">{{ n }}</a>
            </li>
            <li>
              <a href="javascript:void(0);" aria-label="Next" @click="nextPage()">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
            <li v-show='pagination.total_pages > 0 && pagination.total_pages != pagination.current_page'>
              <a href="javascript:void(0);" aria-label="Previous" @click="all(pagination.total_pages)">
                <span aria-hidden="true">&raquo;&raquo;</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Modal Window -->
      <div class="modal fade" id="componentDataModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="componentDataModalLabel">Category</h5>
              <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button> -->
            </div>
            <div class="modal-body">
              <form @submit.prevent="isNotValidateForm" name="callback">
                <div class="form-group">
                  <label for="recipient-name" class="form-control-label">Title:</label>
                  <input type="text" class="form-control" id="recipient-name" v-model='singleObj.title'>
                </div>
                <div class="form-group">
                  <label for="message-text" class="form-control-label">Description:</label>
                  <textarea class="form-control" id="message-text" v-model='singleObj.description'></textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" :disabled="isNotValidateForm" @click="update()" v-if="pupupMod=='edit'">Edit</button>
              <button type="button" class="btn btn-primary" :disabled="isNotValidateForm" @click="store()" v-else>Add</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style lang='scss'>
  $table-head-color:#424242;
  $table-head-bg:lighten(#424242,50%);
  thead{
    tr{
        background: $table-head-bg;
        color:$table-head-color;
        cursor:pointer;
    }
  }
  .box-tools-search{
    width: 50% !important;
    right: 10px;
    top: 10px;
    float: right;
    text-align: right;
  }
  th{
    &.active {
        color: #FFF;
        .arrow {
          opacity: 1;
        }
    }
  }

    
    td {
        &:first-child {
            width: 20%;
        }
        &:last-child {
            width: 20%;
        }
    }
  .arrow {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    margin-left: 5px;
    opacity: 0.66;
    &.asc {
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-bottom: 4px solid $table-head-color;
    }
    &.desc {
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 4px solid $table-head-color;
    }
  }


</style>
<script>
    export default {
        data(){
            return {
                componentData:[],
                pagination:{},
                singleObj:{id:Number,title:String,description:String},
                pupupMod:'add',
                showAdd:false,
                showAlert:false,
                alertType:'',
                alertText:'',
                // Component
                gridColumns:['title','description','action'],
                escapeSort:['action'],
                gridAction:[
                    {title:'edit',fire:"edit"},
                    {title:'delete',fire:"delete"},
                    {title:'force',fire:"force"}
                ],
                searchQuery:'',
                sortOrder:{field:'title',order:'asc'}
            };
        },
        mounted() {
            this.all();
            this.showAdd=true;
            $('#componentDataModal').on('hidden.bs.modal', ()=>this.resetCategory());
            let cats=this.componentData;
        },
        methods:{
            resetCategory(){
                this.singleObj={id:"",title:"",description:""}; 
            },
            alertHandler(type,text,isShow){
                this.alertType=type;
                    this.alertText=text;
                    this.showAlert=isShow;
            },
            all(page=1){
                let uri=`/admin/apidoc/all?page=${page}&sort=${this.sortOrder.field}&order=${this.sortOrder.order}`;
                this.$http.get(uri).then((response)=>{
                    let res= response.data;
                    if(res.status_code==200){
                        this.componentData =res.data;
                        this.pagination =res.paginator;
                    }
                })
                .catch((error)=>{console.log(error)});
            },
            show(obj){
                this.pupupMod='edit';
                this.singleObj=obj;
                $('#componentDataModal').modal('show');
            },
            remove(obj){
                var index = this.componentData.indexOf(obj);
                this.componentData.splice(index, 1);
                let uri=`/admin/apidoc/${obj.id}`;
                this.$http.delete(uri).then((response)=>{
                    console.log(response);
                })
                .catch((error)=>{console.log(error)});
            },
            // Pagination scoping
            nextPage(){
                let pagination=this.pagination;
                if(pagination.current_page < pagination.total_pages){
                    let reqPage=pagination.current_page+1;
                    this.all(reqPage);
                }
            },
            prevPage(){
                let pagination=this.pagination;
                if(pagination.current_page > 1){
                    let reqPage=pagination.current_page - 1;
                    this.all(reqPage);
                }
            },
            sortBy(cols){
              if(this.escapeSort.indexOf(cols) < 0 ){
                if(cols == this.sortOrder.field){
                    this.sortOrder.order= (this.sortOrder.order=='asc')? 'desc':'asc';
                }
                else{
                    this.sortOrder= {field:cols,order:'asc'} ; 
                }
                this.all(this.pagination.current_page);
              }
            },
            searchInput(){
                let searchQuery=this.searchQuery;
                let uri=`/admin/apidoc/all?searchQuery=${searchQuery}&sort=${this.sortOrder.field}&order=${this.sortOrder.order}`;
                this.$http.get(uri).then((response)=>{
                    let res= response.data;
                    if(res.status_code==200){
                        this.componentData =res.data;
                        this.pagination =res.paginator;
                    }
                })
                .catch((error)=>{console.log(error)});
            },
            searchChanges(){
                let searchQuery=this.searchQuery;
                if(searchQuery==""){
                    this.all();
                }
            }
        },
        computed:{
            isNotValidateForm(){
                if(this.singleObj.title=="" || this.singleObj.description==""){
                    return true;
                }
                return false;
            },
            paginationList(){
              
                let last=this.pagination.total_pages;
                let current=this.pagination.current_page;
                let showing=this.showpages;
                let canShow= (this.pagination.current_page+this.showpages) - 1;
                if(canShow < last){
                  return canShow;
                }
                return last;
            }
        },
        filters: {
            capitalize(str) {
              return str.charAt(0).toUpperCase() + str.slice(1)
            }
        }
    }
</script>