<template>
  <div class="row">
    <div class="col-xs-12">
      <div v-if='showAlert'>
        <alert :type="alertType">{{ alertText }}</alert>
      </div>
      <div class="box">
        <div class="box-header">
          <!-- ADD EVENT -->
          <div class="box-title">
            <transition name="custom-classes-transition" enter-active-class="animated tada" leave-active-class="animated bounceOutRight">
                <a class="btn btn-default pull-right" href='user/create' v-show='showAdd'>New</a>
            </transition>
            
          </div>
          <div class="box-title">
            <div class="btn-group pull-right group-actions">
              <button type="button" class="btn btn-danger" 
                @click='removeBulkConfirm()' title='Delete Selected' 
                :disabled='multiSelection.length==0'>
                <i class='fa fa-trash-o' ></i>
              </button>
              <button type="button" class="btn btn-info" 
                @click='switchStatusBulkConfirm()' title='Change Status' 
                :disabled='multiSelection.length==0'>
                <i class='fa fa-exchange' ></i>
              </button>
            </div>
          </div>
          <div class="box-tools-search">
            <form class="form-inline" @submit.prevent="searchInput">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
                  <input type="text" v-model="searchQuery" class="form-control" id="exampleInputAmount" placeholder="Search" @keyup.delete="searchChanges">
                </div>
              </div>
            </form>
          </div>
        </div>
          <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-bordered" id="apicategory-table">
            <thead class="thead-inverse">
              <tr>
                <th><input type="checkbox" value='1' @click="toggleAll()" v-model='isAll'></th>
                <th v-for="(cols,index) in gridColumns" @click="sortBy(cols)">
                  {{ cols | capitalize }} 
                  <span class="arrow" 
                    :class="sortOrder.field == cols ? sortOrder.order : 'asc'"
                    v-if="escapeSort.indexOf(cols) < 0"></span>
                </th>
              </tr>
            </thead>
            <tbody  v-if="componentData.length">
                <tr v-for="runningData in componentData">
                  <th><input type="checkbox" :value="runningData.id" v-model="multiSelection"></th>
                  <td v-text="runningData.fullname"></td>
                  <td v-text="runningData.email"></td>
                  <td>
                    <button :class="runningData.status=='active'?'btn btn-success':'btn btn-danger'" 
                      @click="switchStatus(runningData)">
                      {{runningData.status | capitalize}} 
                    </button>
                  </td>
                  <td>
                    <div class="btn-group" role="group" aria-label="...">
                      <a title='Show Cellar' type="button" class="btn btn-info" :href="`user/${runningData.id}/cellar`">
                         <i class='fa fa-archive' ></i>
                       </a>
                       <a title='Edit User' type="button" class="btn btn-warning" :href="'user/'+runningData.id+'/edit'">
                         <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                       </a>
                       <a title='Remove User' type="button" class="btn btn-danger" @click="removeConfirm(runningData)">
                         <i class='fa fa-trash-o' ></i>
                       </a>
                    </div>
                  </td>
                </tr>
            </tbody>
            <!-- <h4  v-else>
              No {{headline}} Avaialble!
            </h4> -->
          </table>
        </div>
        <div class="box-footer clearfix">
          <span><strong>Total Pages</strong>: {{ pagination.total_pages}}</span>
          <span><strong>Total Records</strong>: {{ pagination.total_count}}</span>
          <ul class="pagination pagination-sm no-margin pull-right">
            <li v-show='pagination.total_pages > 0 && pagination.current_page != 1'>
              <a href="javascript:void(0);" aria-label="Previous" @click="all(1)">
                <span aria-hidden="true">&laquo;&laquo;</span>
              </a>
            </li>
            <li>
              <a href="javascript:void(0);" aria-label="Previous" @click="prevPage()"><span aria-hidden="true">&laquo;</span></a>
            </li>
            <li v-for="n in pagination.total_pages" 
              :class="{'active':pagination.current_page==n}" 
              v-show="n >= pagination.current_page && n <= paginationList">
              <a href="javascript:void(0);" @click="all(n)">{{ n }}</a>
            </li>
            <li>
              <a href="javascript:void(0);" aria-label="Next" @click="nextPage()">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
            <li v-show='pagination.total_pages > 0 && pagination.total_pages != pagination.current_page'>
              <a href="javascript:void(0);" aria-label="Previous" @click="all(pagination.total_pages)">
                <span aria-hidden="true">&raquo;&raquo;</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>
<style lang='scss'>
  $table-head-color:#424242;
  $table-head-bg:lighten(#424242,50%);
  thead{
    tr{
        background: $table-head-bg;
        color:$table-head-color;
        cursor:pointer;
    }
  }
  .box-tools-search{
    width: 50% !important;
    right: 10px;
    top: 10px;
    float: right;
    text-align: right;
  }
  th{
    &.active {
        color: #FFF;
        .arrow {
          opacity: 1;
        }
    }
  }

    
    td {
        &:first-child {
            width: 20%;
        }
        &:last-child {
            width: 20%;
        }
    }
  .arrow {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    margin-left: 5px;
    opacity: 0.66;
    &.asc {
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-bottom: 4px solid $table-head-color;
    }
    &.desc {
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 4px solid $table-head-color;
    }
  }


</style>
<script>
    import FunctionHelper from '../../helpers/FunctionHelper.js';
    import ConfirmBox from '../../helpers/ConfirmBox.js';
    let funcHelp= new FunctionHelper;
    
    export default {
        props:['headline'],
        data(){
            return {
                componentData:[],
                multiSelection:[],
                isAll:"",
                pagination:{},
                pupupMod:'add',
                showAdd:false,
                showAlert:false,
                alertType:'',
                alertText:'',
                // Component
                gridColumns:['first','email','status','action'],
                escapeSort:['action'],
                gridAction:[
                    {title:'edit',fire:"edit"},
                    {title:'delete',fire:"delete"},
                    {title:'force',fire:"force"}
                ],
                searchQuery:'',
                sortOrder:{field:'created_at',order:'desc'},
                showpages:10
            };
        },
        mounted() {
            this.all();
            this.showAdd=true;
        },
        methods:{
            resetMultiSelection(){
              this.multiSelection=[];
              this.isAll="";
            },
            resetAlert(){
              this.alertType='';
              this.alertText='';
              this.showAlert=false;
            },
            alertHandler(type,text,isShow){
                this.alertType=type;
                    this.alertText=text;
                    this.showAlert=isShow;
            },
            toggleAll(){
              if(this.isAll==true){
                this.componentData.map((ele)=>{
                  this.multiSelection.push(ele.id);
                })
              }
              else{
                this.componentData.map((ele)=>{
                  this.multiSelection.pop(ele.id);
                })
              }
            },
            all(page=1){
                this.resetAlert();
                let uri=`/admin/user?page=${page}&sort=${this.sortOrder.field}&order=${this.sortOrder.order}`;
                this.$http.get(uri).then((response)=>{
                    let res= response.data;
                    if(res.status_code==200){
                        this.componentData =res.data;
                        this.pagination =res.paginator;
                    }
                })
                .catch(error=>this.alertHandler('info',`No ${this.headline} to list!`,true));
            },
            removeConfirm(obj){
              let confirmBox = new ConfirmBox(this);
              confirmBox
                .removeBox(this.headline,`You will not be able to recover this ${this.headline}!`, obj);
            },
            remove(obj){
                this.resetAlert();
                var index = this.componentData.indexOf(obj);
                this.componentData.splice(index, 1);
                let uri=`/admin/user/${obj.id}`;
                this.$http.delete(uri).then((response)=>{
                    let res= response.data;
                    if(res.status_code==200){
                      // Handling alert
                      this.alertHandler('success',res.message,true);
                    }
                    else{
                      this.alertHandler('error',res.message,true); 
                    }
                })
                .catch((error)=>{console.log(error)});
            },
            removeBulkConfirm(){
              let confirmBox = new ConfirmBox(this);
              confirmBox
                .bulkRemoveBox(this.headline,`You will not be able to recover this ${this.headline}!`);
            },
            removeMultiple(){
                this.resetAlert();
                let uri=`/admin/user/removeBulk`;
                if(this.multiSelection.length){
                  this.$http.post(uri,this.multiSelection).then((response)=>{
                      let res= response.data;
                      if(res.status_code==200){
                        // Handling alert
                        this.resetMultiSelection();
                        this.all();
                        this.alertHandler('success',res.message,true);
                      }
                      else{
                        this.alertHandler('error',res.message,true); 
                      }
                  })
                  .catch((error)=>{console.log(error)});
                }
            },
            switchStatus(obj){
              this.resetAlert();
              let newStat=(obj.status=='active')?'inactive':'active';
              let uri=`/admin/user/status`;
              this.$http.put(uri,obj).then((response)=>{
                  let res= response.data;
                  if(res.status_code==200){
                    // Handling alert
                     obj.status=newStat;
                    this.alertHandler('success',res.message,true);
                  }
              })
              .catch((error)=>{});
            },
            switchStatusBulkConfirm(){
              let confirmBox = new ConfirmBox(this);
              confirmBox
                .bulkStatusBox(this.headline,`You will be able to restore selected ${this.headline} state!`);
            },
            switchStatusSelected(){
              this.resetAlert();
              let uri=`/admin/user/statusBulk`;
              this.$http.put(uri,this.multiSelection).then((response)=>{
                  let res= response.data;
                  if(res.status_code==200){
                    this.all();
                    this.resetMultiSelection();
                    // Handling alert
                    this.alertHandler('success',res.message,true);
                  }
              })
              .catch((error)=>{});
            },

            // Pagination scoping
            nextPage(){
                let pagination=this.pagination;
                if(pagination.current_page < pagination.total_pages){
                    let reqPage=pagination.current_page+1;
                    this.all(reqPage);
                }
            },
            prevPage(){
                let pagination=this.pagination;
                if(pagination.current_page > 1){
                    let reqPage=pagination.current_page - 1;
                    this.all(reqPage);
                }
            },
            sortBy(cols){
              if(this.escapeSort.indexOf(cols) < 0 ){
                if(cols == this.sortOrder.field){
                    this.sortOrder.order= (this.sortOrder.order=='asc')? 'desc':'asc';
                }
                else{
                    this.sortOrder= {field:cols,order:'asc'} ; 
                }
                this.all(this.pagination.current_page);
              }
            },
            searchInput(){
                let searchQuery=this.searchQuery;
                let uri=`/admin/user?searchQuery=${searchQuery}&sort=${this.sortOrder.field}&order=${this.sortOrder.order}`;
                this.$http.get(uri).then((response)=>{
                    let res= response.data;
                    if(res.status_code==200){
                        this.componentData =res.data;
                        this.pagination =res.paginator;
                    }
                })
                .catch((error)=>{console.log(error)});
            },
            searchChanges(){
                let searchQuery=this.searchQuery;
                if(searchQuery==""){
                    this.all();
                }
            },
            
        },
        computed:{
            paginationList(){
              
                let last=this.pagination.total_pages;
                let current=this.pagination.current_page;
                let showing=this.showpages;
                let canShow= (this.pagination.current_page+this.showpages) - 1;
                if(canShow < last){
                  return canShow;
                }
                return last;
            }
        },
        filters: {
            capitalize(str) {
              return str.charAt(0).toUpperCase() + str.slice(1)
            },

        }
    }
</script>