$base-color:#4db6ac;

// SKIN SETTINGS
$white_10: rgba(255, 255, 255, 0.1);
$white: #fff;
$color_punch_approx: $base-color;
$color_valencia_approx: #4db6ac;
$black_10: rgba(0, 0, 0, 0.1);
$color_black_haze_approx: #f6f6f6;
$color_persian_red_approx: #212121;
$color_shark_approx: #212121;
$color_blue_bayoux_approx: #FFF;
$color_mirage_approx: #212121;
$color_outer_space_approx: #2c3b41;
$color_heather_approx: #b8c7ce;
$color_bali_hai_approx: #8aa4af;
$color_limed_spruce_approx: #374850;
$color_storm_dust_approx: #666;
$color_mountain_mist_approx: #999;
$btn-primary-blue:#357ca5;
// AUTH LOGO
$auth-logo-bg:#FFF;
$auth-logo-height:55px;

$btn-primary-color:#fff !default;
$btn-primary-bg:$base-color !default;
$btn-primary-border:darken($btn-primary-bg, 5%) !default;
$btn-primary-border:darken($btn-primary-bg, 5%) !default;