// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/sweetalert/dist/sweetalert";

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css);
@import "css/AdminLTE";
@import "skin";
@import "animate";
@import "mixin";
@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
    // background-color: $base-color;
    color: #636b6f;
    // font-family: 'Raleway', sans-serif;
    font-family:'Roboto';
    font-weight: 100;
    height: 100vh;
    margin: 0;
    // background-color:red;
}

body{
	&.login-page{
		@include linear-gradient(to right, #607d8b , #4db6ac);
	}
}
.full-height {
    height: 100vh;
}
.semifull-height{
	height: 80vh;	
}
.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}
.position-ref {
    position: relative;
}
.search-form{
    margin-bottom: 10px;
    float: right;
}




.login-logo{
	margin-bottom: 0;
	background:$auth-logo-bg;
	padding: 10px 5px;
	img{
		height: $auth-logo-height;
	}
}

.input-with-icon{
	position: relative;
	span.input-span-icon{
		position: absolute;
		right: 5px;
		top: 10px;
	}
}
.btn-primary {
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}
.group-actions{
	margin:0 10px;
}
button{
	&.btn-primary-blue{
		background:$btn-primary-blue;
		color:#FFF;
	}
}
.user-body{
	padding:0 !important;
}
.overlay{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.5);
	z-index: 9;
	i.loader{
		position: relative;
		left:calc(50% - 40px);
		top:calc(50% - 40px);
		z-index: 10;
	}
}